Flask==2.1.2
Flask-JWT-Extended==4.4.1
flask-mongoengine==1.0.0
Flask-Reuploaded==1.2.0
Flask-WTF==1.0.1
mongoengine==0.24.1
opencv-python==4.5.5.64
Pillow==9.1.1
requests==2.28.0
flask-restx==0.5.1
environs==9.5.0
